
/* flexbox default */
.quick-weather-heading,
.view-dashboard-link{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* weather header section */
.quick-weather-heading {
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}

.quick-weather-heading img {
  padding-bottom: 4px;
}

#city-title {
  margin-top: 6px;
}

/* favorite element */
.favorite-button {
  padding: 8px 10px 6px 10px;
  background-color: var(--primary-light);
  border-radius: 9px;
  filter: none;
  color: #000;
  font-size: 12px;
}

.favorite-button:hover {
  opacity: .8;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

.favorite-icon {
  animation: 0.5s fadeIn;
}

/* quick weather section */
.quick-weather-deck {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    'now tonight'
    'hourly hourly';
  margin-bottom: 24px;
}

.now-card p,
.tonight-card p {
  margin-bottom: 8px;
}

.now-card {
  grid-area: now;
}

.tonight-card {
  grid-area: tonight;
}

.hourly-card {
  grid-area: hourly;
}

.quick-weather-card-visual {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.quick-weather-card-visual img {
  width: 48px;
  height: 48px;
  object-fit: fill;
}

.today-grid {
  height: 224px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 12px;
}

.temp-graph-element {
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.temp-graph-bar {
  background-color: var(--primary);
  border-bottom: 2px solid #000;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.alt-element {
  background: var(--primary-dark);
}

.temp-graph-element small {
  display: block;
  text-align: center;
}

.temp-graph-element small {
  margin-top: 4px;
}

.hourly-weather-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 12px;
}

.view-dashboard-link {
  flex-direction: column;
  gap: 8px;
}

/* search modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 10000;
  background-color: rgb(0,0,0,.60);
  padding: 8px;
  overflow: auto;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-body {
  animation: 0.5s slideInFromTop;
  border-radius: 8px;
  background-color: var(--primary-light);
}

.modal-header {
  padding: 16px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
}

.modal-content {
  padding: 16px;
}

.modal.open {
  display: block;
}

/* search form (in modal) */
#search-modal form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#search-modal .search-wrapper {
  display: flex;
  gap: 8px;
}

#search-modal form select {
  min-width: 200px;
}

#search-modal form input, #search-modal form select {
  flex-grow: 1;
  padding: 10px 8px 8px 8px;
  border-radius: 6px;
  border: none;
  filter: drop-shadow(0 .5px 1px rgb(147,91,7,.5));
}

#search-modal form select {
  padding: 6px 8px;
}

/* search history (in modal) */
.search-history-wrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.history-link {
  display: block;
  color: #646464;
}


