
/* flexbox default */
.quick-weather-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quick-weather-heading {
  justify-content: space-between;
  margin-bottom: 16px;
}

.quick-weather-deck {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 16px;
}